		@font-face {
			font-family:Divenire;
			src:url("../font/divenire_thin-webfont.woff");
		}

		@font-face {
			font-family:DivenireBold;
			src:url("../font/divenire_bold-webfont.woff");
		}

		@font-face {
			font-family:DivenireLightItalic;
			src:url("../font/divenire_light_italic-webfont.woff");
		}


		body {
			margin:0;
			/*background: #fafafa;*/
			font-family: Divenire;
		}

		body * {
		}
		
		#navigation a{
			color: black;
			font-size: .9em;
			text-decoration: none;
			font-weight:bold;
		}

		#navigation a:hover{
			/*text-decoration: underline;*/
		}

		#container{
			position: relative;
			width:1024px;
			/*width:1024px;*/
			/*margin:0 40px;*/
			margin:0 auto;
			background: #fff;
		}

		.tooltip {
			margin: 0;
			margin-top: 1em;
			width:50%;
			overflow: auto;
			overflow-x: hidden;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			float:left;
		}

		

		.tooltip img { 
			background:  url('img/loader.gif') 0 0 no-repeat;
			min-width: 20px;
			min-height: 20px;
			display: block;

			margin-top:1em;
			max-width:300px;
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			filter: grayscale(100%);
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			-ms-transition: all .5s;
			-o-transition: all .5s;
			transition: all .5s;
		}

		.tooltip img:hover { 
			-webkit-filter: grayscale(0);
			-moz-filter: grayscale(0);
			filter: grayscale(0);
		}

		.radio {
			margin-top: 1.5em;
		}
		h1 {
			font-family: DivenireBold;
			font-size:2.2em;

		}

		.tooltip h1 {
			margin-top:0;
			margin-bottom:0;
		}
		.meta {
			font-size: .9em;
			display: inline-block;
			margin-top:0;
			margin-bottom: 0.2em;
			margin-right:0.5em;
		}

		.meta span {
			font-family: DivenireLightItalic;
		}

		.date {
			font-family: DivenireLightItalic;
			font-size: .9em;
			margin-top:0;
		}


		.cf:after,
		.cf:before {
			content: '';
			display: table;
		}
		.cf:after {
			clear: both;
		}
		.cf {
			zoom: 1;
		}
		

		#viz {
		}

		.axis path {
			display: none;
		}

		.axis line {
			shape-rendering: crispEdges;
			stroke: #eee;
		}

		.axis text, .label {
			fill: #666666;

		}

		#legend {
			float:left;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin:2em 0 3em 50px;
		}

		#legend .toggle {
			display: block;
		}

		#legend p {
			margin:0;
		}

		#legend p.legendlabel{
			font-family: DivenireBold;
			display: inline-block;
			margin-right:20px;
			float: left;
		}

		#legend p.comment{
			margin-bottom:2em;
			font-size:.8em;
			clear:both;
		}

		#legend div {
			padding:0;
		}

		#legend div>div {
			float:left;
		}

		

		#legend .riepilogo p{
			font-size: .7em;
		}

		#legend .riepilogo p:first-child {
			font-size: 1em;
			font-family: DivenireBold;
		}

		#legend input[type=checkbox] {
			float:left;
			-webkit-appearance: none;
			cursor:pointer;
			display: inline-block;
			position: relative;
			width: 20px;
			height: 20px;
			margin: 2px 5px 0 5px;
			vertical-align: middle;
			outline: none;
		}

		#legend input[type=checkbox]:checked:after   {
			content: '\2714';
			font-size: 14px;
			position: absolute;
			top: 0px;
			left: 3px;
			color: #ffffff;
		}

		.node {
			cursor: pointer;
		}

		#titolo {
			text-align: center;
		}

		#titolo img {
			max-height:180px;
		}

		.radio label {
			margin-right:15px;
			cursor: pointer;
		}
		.overlay{
			background: url(http://www.open.puglia.it/img/gialla.jpg) -10px 0;
		}

		a.overlay {
			padding:.2em;
			margin-top:.3em;
			text-decoration: none;
			display: inline-block;
			color:#333;
		}
		h2.cta {
			margin-bottom:3em;
		}
		footer {
			text-align: center;
			padding-top:3em;
			height:10em;
			claer:both;
		}


		rect.pane {
			cursor: move;
			fill: none;
			pointer-events: all;
		}

		#loading {
			-webkit-transition: all .25s;
			   -moz-transition: all .25s;
			    -ms-transition: all .25s;
			     -o-transition: all .25s;
			        transition: all .25s;
		}
		#loading.hiding {
			opacity: 0;
		}
